<?xml version="1.0"?>
<!--
/**
* Copyright 2019 © Roma Technology Ltd. All rights reserved.
* See COPYING.txt for license details.
**/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
  <type name="Magento\Customer\Api\GroupRepositoryInterface">
    <plugin name="map_marker" type="RTech\Map\Plugin\MapMarkerPlugin"/>
  </type>
  <type name="Magento\Customer\Controller\Adminhtml\Group\Save">
    <plugin name="group_save" type="RTech\Map\Plugin\GroupSavePlugin" sortOrder="1"/>
  </type>
  <preference for="Magento\Contact\Controller\Index\Index" type="RTech\Map\Controller\Contact\Index" /> 
</config>